body {
    height: 100%;
    color: black;
    font-size: 14px;
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

div * {
    cursor: pointer;
}

p:hover {
    text-decoration: underline;
}

header {
    display: grid;
    grid-template-columns: 90px auto 270px;
    padding: 10px 25px 0px;
    color: rgba(0,0,0,0.87);
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#google-logo {
    width: 272px;
    display: block;
    margin: 58px auto 25px;
}

#search-container {
    height: 45px;
    width: 560px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

input {
    cursor: text;
}

#search-bar {
    height: inherit;
    width: 440px;
    border: none;
    outline: none;
    font-size: 18px; 
}

.search-icons {
    padding: 15px;
    height: 20px;
}

#buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.grey-button {
    background-color: rgb(248, 249, 250);
    width: 110px;
    padding: 10px 15px;
    text-align: center;
    display: inline;
    margin: 5px;
}

button {
    background-color: #1a73e8;
    color: white;
    font-size: 14px;
    border: none;
    padding: 11px 27px;
    border-radius: 4px;
}

button:hover {
    background-color: #2b7de9;
}

footer {
    display: grid;
    grid-template-columns: 340px auto 120px 220px;
    background-color: #f2f2f2;
    color: #70757a;
    margin-top: auto;
    height: 47px;
    padding: 0px 25px;
}

.footer-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#center {
    justify-self: center;
    min-width: 185px;
}

.shadow:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    text-decoration: none;
}

.image-space-text {
    padding-left: 5px;
}

#leaf-icon {
    height: 14px;
}

.opacity {
    filter: opacity(0.4);
}

.rounded-icon {
    border-radius: 50%;
}